@import '../variables';

.button__wrapper {
    display: flex;
}

.button {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border: none;
    background: $blue-button;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    padding: 1em 0;
    width: 100%;
}



@media only screen and (min-width: 768px) {
    .button {
       width: 40%; 
    }
}