@import '../variables';

.button {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
    color: white;
    border: none;
    background: $blue-button;
    padding: 20px 2em;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
}