.container {
    margin: 0 auto;
    padding: 0;
//    width: 320px;
//    width: 85%;
}

@media only screen and (min-width: 768px){
    .container {
//        width: 768px;
    }
}

@media (min-width: $desktop-width){
    .container {
        width: 1200px;
        padding: 0;
    }  
}