.feature-item {
    position: relative;
    width: 65.625%;
    margin: 0 auto;
//    padding-top: 4em;
}

.feature-item__icon {
    width: 42px;
    position: absolute;
    fill: $blue-button;
    left: -45px;
    top: -35px;
}

@media (min-width: $tablet-width) {
    .feature-item {
        padding-top: 60px;
        padding-bottom: 65px;
        text-align: center;
    }
    
    .feature-item__icon {
        width: 76px;
        height: 75px;
        position: static;
        text-align: center;
    }
}

@media (min-width: $desktop-width) {
    padding-bottom: 85px;
}