@import '../variables';

textarea {
    resize: none;
}

.feedback-form {
    margin: 0 auto;
    padding: 0 20px;
}

.form__fieldset {
    border: none;
//    text-align: center;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.form__legend {
    font-weight: bold;
//    margin-left: 50%;
//    transform: translateX(-50%);
    margin-top: 24px;
    margin-bottom: 24px;
    width:  calc(100% - 40px);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}

.form__label {
    text-transform: uppercase;
    margin-right: 20px;
    position: relative;
}

.form__label--contacts {
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form__input-text {
    border: none;
    background: $input;
    padding: 20px 0 20px 20px;
    font-weight: bold;
    font-size: 18px;
    flex-grow: 1;
    width: 0;
    box-sizing: border-box;
    min-width: 0;
//    width: 100%;
}

.form__input-text::placeholder {
    color: black;
    opacity: 1;
}

.form__input-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
//    width: calc(100% - 20px);
}

//contacts section


.form__contacts-wrapper {
    display: flex;
    flex-direction: column;
}


.form__contacts-input-container {
    position: relative;
    display: flex;
}

.form__contacts-input-container::before {
    content: '';
    position: absolute;
    display: block;
    width: 58px;
    height: 58px;
    background: #e6e6e6;
    right: 0;
}

.form__contacts-input-container--phone::before {
    background: #e6e6e6 url(../img/svg/phone.svg) no-repeat center;
}

.form__contacts-input-container--mail::before {
    background: #e6e6e6 url(../img/svg/mail.svg) no-repeat center;
}
//radiobuttons

.form__input-radio-wrapper {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
}



.form__input-radio {
    display: none;
}

.form__input-radio ~ label {
    padding-left: 60px;
    font-weight: bold;
}


.form__input-radio ~ label::before {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 18px solid $input;
    border-radius: 50%;
    background: $input;
    left: -5px;
    top: -20px;
}

.form__input-radio:checked ~ label::before {
    background: #333333;
}

//checkboxes

.form__input-checkbox-wrapper {
    display: flex;
    margin-bottom: 55px;
}

.form__input-checkbox {
    display: none;
}

.form__input-checkbox ~ label {
    font-weight: bold;
    padding-left: 75px;
}

.form__input-checkbox ~ label::before {
    content: '';
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    
    background-color: $input;
    border-radius: 5px;
    left: 0;
    top: -15px;
}

.form__input-checkbox:checked ~ label::before {
    background: $input url(../img/svg/tick.svg) no-repeat;
    background-position: 50% 45%;
}

//emotions (textarea)

.form__fieldset--emotions {
    text-align: center;
    border: none;
}

.form__fieldset textarea {
    border: none;
    background: $input;
    font-weight: bold;
    width: 90%;
    height: 160px;
    box-sizing: border-box;
    padding: 20px;
}

.form__fieldset textarea::placeholder {
    opacity: 1;
    color: black;
}

.button-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
    margin-top: 50px;
}

.hint {
    display: none;
}

@media (min-width: $tablet-width) {
    .feedback-form {
    padding: 0 60px;
    }
    
    .form__legend {
        font-size: 21px;
    }
    
    .form__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    
    
    .form__fieldset {
        border: none;
        padding-top: 60px;

    }
    
    .form__fieldset--name {      
        order: 2;
        width: 48%;
    }
    
    .form__fieldset--contacts {
        order: 3;
        width: 100%;
    }
    
    .form__input-radio-wrapper {
//        margin: 0;
    }
    
    .form__fieldset--impressions {
        order: 1;
        width: 48%;
    }
    
    .form__flexible-fieldset {
        display: flex;
        flex-direction: column;
//        justify-content: space-around;
        width: 100%;
        height: 100%;
    }
    
    .form__flexible-fieldset--places {
        flex-wrap: wrap;
        align-content: center;
        height: 150px;
    } 
    
    .form__fieldset--sights {
        order: 4;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: space-evenly;
        max-height: 250px;
        flex-wrap: wrap;
    }
    
    .form__input-checkbox-wrapper {
        width: 40%;
    }
    
    .form__fieldset--emotions {
        order: 5;
        width: 100%;
    }
    
    .form__fieldset--emotions textarea {
        width: 100%;
    }
    
    .button-text {
        order: 6;
        width: 100%;
    }
    
    
    .form__legend--sticks {
        display: flex;
        
        
        &::before {
            content: "";
            flex-grow: 1;
            height: 1px;
            background-color: #dbdbdb;
            display: inline-block;
            align-self: center;
            margin-right: 60px;
        }
        
        &::after {
            content: "";
            flex-grow: 1;
            height: 1px;
            background-color: #dbdbdb;
            display: inline-block;
            align-self: center;
            margin-left: 60px;
        }
    }
    
}

@media (min-width: $desktop-width) {
    
}