.main-header {
    display: flex;
    flex-direction: column;
    background: white;
    position: relative;
    min-height: 56px;
}

.main-header__open-menu {
    width: 23px;
    height: 23px;
    margin: 1em 0;
    margin-right: 1em;
    position: absolute;
    right: 1em;
    bottom: .3em;
    align-self: flex-end;
    background: none;
    border: none;
    border-top: 5px solid $blue-button;
    border-bottom: 5px solid $blue-button;
    cursor: pointer;
    
    
    &::before {
        content: '';
        position: absolute;
        width: 23px;
        height: 5px;
        background: $blue-button;
        left: 0;
        top: 4px;
    }
}

.main-header__close-menu {
    position: absolute;
    right: 1.6em;
    top: 50%;
    min-width: 24px;
    min-height: 24px;
    background: none;
    border: none;
    cursor: pointer;
    
    &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 5px;
        left: 0;
        top: 0;
        background: white;
        transform: rotate(45deg);
    }
    
    &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 5px;
        left: 0;
        top: 0;
        background: white;
        transform: rotate(-45deg);
    }
}

.logo-abs {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}


.logo {
    position: relative;
//    top: 0;
    
}

.logo-wraper {
    align-self: center;
    position: relative;
    min-height: 56px;
    width: 31.875%;
    display: flex;
    order: 3;
}



@media (min-width: $tablet-width) {

    
    .main-header__close-menu {
        display: none;
    }
    
    .main-header__open-menu {
        display: none;
    }
    
    
    .logo-wraper {
        order: 2;
        width: 13.28125%;
    }
}