@import '../variables';

.main-nav {
    display: flex;
    flex-direction: column;
    max-width: 100%;
//    display: none;
}

.main-nav__menu-item {
    background: $blue-button;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255,255,255,1);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #678fa8;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
    position: relative;
    
    
//    Link states
    &:hover {
        background: $blue-button-hover;
    }
    
    &:active {
        background: $blue-button-down;
        color: rgba(255,255,255,0.3);
    }
}