@import '../variables';

.site-video {
    display: inline-block;
    width: 100%;
    height: auto;
}

.site-video__wrapper {
    display: inline-block;
    position: relative;
}
.site-video__playbutton {
    width: 22px;
    height: 22px;
    border: none;
    background: url(../img/svg/video-play.svg) no-repeat center;
}

.site-video__playbutton--play {
    background: url(../img/svg/video-play.svg) no-repeat center;
}

.site-video__playbutton--pause {
    background: url(../img/svg/video-pause.svg) no-repeat center;
}

.site-video__fullscreen-button {
    width: 20px;
    height: 20px;
    background: url(../img/svg/video-fullscreen.svg) no-repeat center;
    border: none;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.site-video__progress-slider {
     -webkit-appearance: none;
    width: 80%;
    height:2px;
    outline: none;
    background: rgba(255,255,255,0.2);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.site-video__progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:10px;
    height:10px;
    background:rgba(255,255,255,1);
    border-radius:50%;
    cursor:pointer;
    transition:.1s;
    
}

.site-video__controls {
    background:#f2f2f2;
    width: 80%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px;
}

.site-video__slider-wraper {
    background: rgba(0,0,0,0.6);
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 40px;
}

.site-video__controls-wraper {
    position: absolute;
    width: 100%;
    bottom: -41px;
}

@media(min-width: $tablet-width) {
    .site-video__controls {
        bottom: 41px;
        background: none;
    }
    
    .site-video__playbutton {
        background: url(../img/svg/video-play-desktop.svg) no-repeat center;
    }
    
    .site-video__playbutton--play {
        background: url(../img/svg/video-play-desktop.svg) no-repeat center;
    }

    .site-video__playbutton--pause {
        background: url(../img/svg/video-pause-desktop.svg) no-repeat center;
    }

    .site-video__fullscreen-button {
        background: url(../img/svg/video-fullscreen-desktop.svg) no-repeat center;
    }
    
}