.greeting {
  height: 390px;
  background: url(../img/bg-intro-triangle-mobile.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-mobile@1x.jpg) no-repeat;
  background-size: 105% auto, 280px auto, 768px auto;
  background-position: center 100%, 50% 50%; }

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .greeting {
    background: url(../img/bg-intro-triangle-mobile.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-mobile@2x.jpg) no-repeat;
    background-size: 105% auto, 280px auto, 768px auto;
    background-position: center bottom, 50% 50%; } }

@media (min-width: 768px) {
  .greeting {
    height: 520px;
    background: url(../img/bg-intro-triangle-tablet.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-tablet@1x.jpg) no-repeat;
    background-size: 105% auto, 460px auto, 100% auto;
    background-position: center bottom, 50% 50%, center top; } }

@media (min-width: 768px) and (min-resolution: 1.5dppx), (min-width: 768px) and (min-resolution: 144dpi) {
  .greeting {
    background: url(../img/bg-intro-triangle-tablet.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-tablet@2x.jpg) no-repeat;
    background-size: 105% auto, 460px auto, 100% auto;
    background-position: center 100%, 50% 50%, center top; } }

@media (min-width: 1200px) {
  .greeting {
    background: url(../img/bg-intro-triangle-desktop.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-desktop@1x.jpg) no-repeat;
    background-size: 105% auto, 460px auto, 100% auto;
    background-position: center 100%, 50% 50%, center top; } }

@media (min-width: 1200px) and (min-resolution: 1.5dppx), (min-width: 1200px) and (min-resolution: 144dpi) {
  .greeting {
    background: url(../img/bg-intro-triangle-desktop.svg) no-repeat, url(../img/text-sedona-index.svg) no-repeat, url(../img/bg-back-desktop@2x.jpg) no-repeat;
    background-size: 105% auto, 460px auto, 100% auto;
    background-position: center 100%, 50% 50%, center top; } }
