.heading-paragraph {
  text-align: center;
  box-sizing: border-box;
  padding: 30px 10px; }

.heading-paragraph__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto; }

.heading-paragraph__heading--big-heading {
  font-size: 21px; }

.heading-paragraph__paragraph {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0; }

.heading-paragraph--white {
  color: white; }

.heading-paragraph--align-left {
  text-align: left; }

.tablet-break {
  display: none; }

@media only screen and (min-width: 768px) {
  .heading-paragraph {
    padding: 1m 1.5em; }
  .heading-paragraph__heading {
    font-size: 21px; }
  .heading-paragraph__heading--big-heading {
    font-size: 30px; }
  .heading-paragraph__paragraph {
    margin: 30px auto; }
  .heading-paragraph--align-left {
    text-align: center; }
  .heading-paragraph__paragraph--long {
    max-width: 80%;
    margin: 30px auto; }
  .tablet-break {
    display: inline; } }
