.heading-paragraph {
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px; }

.heading-paragraph__heading {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 300px;
  margin: 0 auto; }

.heading-paragraph__paragraph {
  font-size: 14px;
  line-height: 26px; }

.heading-paragraph--white {
  color: white; }
