.heading-paragraph {
  font-family: 'PT Sans', sans-serif; }

.heading-paragraph__heading {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.heading-paragraph__paragraph {
  font-size: 14px;
  line-height: 26px; }
