.intro {
  padding-top: 30px; }

.intro--secondary {
  margin: 0 auto;
  max-width: 460px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .intro--secondary {
    border: none; } }
