.main-header__button-logo-wrapper {
  position: relative;
  display: flex; }

.mobile-logo {
  display: block;
  position: absolute;
  right: 35%; }

.main-header__open-menu {
  border: none;
  width: 25px;
  height: 25px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

@media only screen and (min-width: 768px) {
  .main-header__button-logo-wrapper {
    display: none; }
  .main-header__open-menu {
    display: none; } }
