.main-header {
  display: flex;
  flex-direction: column;
  background: white;
  position: relative; }

.main-header__open-menu {
  width: 23px;
  height: 23px;
  margin: 10px 0;
  position: relative;
  align-self: flex-end;
  background: none; }

.main-header__close-menu {
  position: absolute;
  right: 2%;
  min-width: 24px;
  min-height: 24px; }

.logo {
  width: 100px;
  height: 60px;
  background: black;
  position: relative;
  bottom: 0;
  left: -50%; }

.logo-wraper {
  position: absolute;
  bottom: 0;
  left: 50%; }
