@import 'variables';

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
body {
    font-family: 'PT Sans', sans-serif;
}

img {
    max-width: 100%;
}

@media only screen and (min-width: $desktop-width) {
    body {
        background: #f2f2f2;
    }
}