
//Main menu colors
$menu-hover: #81b3d2;
$menu-down: rgba(#000000, 30%);
$menu-active: #766357;
$menu-acitve-hover: #604e43;
$menu-acive-down: rgba(#766357, 30%);

//Blue button colors
$blue-button: #81b3d2;
$blue-button-hover: #669ec0;
$blue-button-down: #5496bd;
$blue-button-disabled: #e5e5e5;

//Logo colors
$logo-color: black;
$logo-hover: #81b3d2;
$logo-down: rgba(#000000, 30%);

//Input fields
$input: #f2f2f2;
$input-hover: #e5e5e5;

//Checkboxes and radiobuttons
$radiocheckbox: #f2f2f2;
$radiocheckbox-hover: #e5e5e5;
$radiocheckbox-down: #d5d5d5;

$input-marker-down: rgba(#000000, 30%);

//Player buttons
